*{
    padding:0px;
    margin:0px;
/* *border:1px solid black; */
}

.etiqueta_creador{
    position:fixed;
    z-index:700;
    background-color:rgba(242, 242, 242, 0.721);
    box-shadow:3px 3px 10px rgba(21, 21, 21, 0.388);
    padding:10px 5px;
    border-radius:10px 1px 10px 10px;
    right:15px;
    bottom:10px;
    text-decoration:none;
    color: #000;
}

body{
    /* background-image:url(img/fondo_02.jpg); */
    /* background-size:cover; */
    background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );
    height:100vh;
    display:grid;
    align-items:center;
    font-family: calibri;
}

.numeros_cuentas{
    /* background-color: #29322b95; */
    font-size:10rem;
    text-align:center;
    position:absolute;
    display:grid;
    inset:0px;
    z-index:100;
    align-items: center;
    font-weight:bold;
    animation: zoom_numeros 1s infinite ease;
}

.numeros_cuentas span{
    text-shadow:3px 3px 8px #000000;
}

@keyframes zoom_numeros {
    0%{
     font-size:15rem;
    }to{
     font-size:5rem; 
     opacity:0;  
    }  
}

.box_game{
    top:10px;
    /* background-image:url(img/mesa_01.jpg); */
    background-size:cover;
    box-shadow:5px 5px 10px #00000038,
    -3px -3px 10px #e9f0f0ae,
    inset 2px 2px 15px #0000002f;

    box-shadow: inset red;
    overflow:hidden;
    border-radius:5px;
    padding:50px 10px 10px 10px;
    display:grid;
    margin:auto;
    position: relative;
    z-index:3;
    user-select:none;
}

.mask_box_cartas{
    position:fixed;
    /* background-color:rgba(200, 39, 39, 0.255); */
    inset:0px;
    z-index:900;
    display:none;
}

.box_cartas{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.box_cartas div{
    margin:5px;
}

.capa_negro{
    content:"";
    display:block;
    position:fixed;
    inset:0px;
    background-color:rgba(0, 0, 0, 0.800);
    z-index:15;
}

.cont_btn{
    background-color:rgba(0, 0, 0, 0.5);
    position:fixed;
    text-align:center;
    padding:20px;
    inset:0px;
    display:grid;
    justify-content:center;
    align-items:center;
    z-index:30;
}

.contenedor_mensaje{
    position:relative;
    /* background-color:red; */
    display:grid;
    justify-content:center;
}

.contenedor_mensaje p{
    font:20px;
    color:#ffff;
    margin:15px 0px;
}

.contenedor_mensaje span{
    color:#ffff;
    font-size:30px;
    font-family:monospace;
    font-weight:bold;
}

#btn_start{
    padding:10px 20px;
    border:0px;
    border-radius:10px;
    font-size:20px;
    font-family:monospace;
    font-weight:bold;
}

#btn_start:hover{
    background-color: #85d385;
    color: antiquewhite;
}

.box_info{
    font-size:18px;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    position: absolute;
    top:10px;
    text-align:center;
    color:#ffff;
    text-shadow: 2px 2px 2px #00000051;
    font-weight:bold;
    font-family: calibri;
    left:0px;
    right:0px;
    top:5px;
}

.info{
    padding:1px 5px;
}

.car{
    background-color:#ebf6f4;
    width:70px;
    height:110px;
    position:relative;
    display:block;
    z-index:10;
    transform-style:preserve-3d;
    transform: rotateX(0deg) rotateY(180deg);
    border:1px solid #ffff;
    transition:0.8s ease;
    margin:5px 0px;
    box-shadow:-2px 2px 10px rgba(0, 0, 0, 0.304);
    border-radius:5px;

}

.off_volteo{
    transform: rotateX(0deg) rotateY(180deg);
}

.on_volteo{
    transform: rotateX(0deg) rotateY(0deg);
}

.car img{
    position:absolute;
    width:100%;
    top:30%;
    transform:rotateZ(-40deg);
}

.car::after{
    content:"";
    background-image: url(img/carta_05.jpg);
    background-size:cover;
    inset:0px;
    position:absolute;
    display:block;
    z-index:5;
    transform-style:preserve-3d;
    /* border:1px solid black; */
    border:1px solid #ffff;
    transform:translateZ(-5px);
    border-radius:5px;
}

.cartaCorrecta{
    background-color:#83f183;
    width:70px;
    height:110px;
    position:relative;
    z-index:10;
    transform-style:preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    border:1px solid #ffff;
    border-radius:5px;
    transition:1s ease;
    margin:5px 0px;
}

.cartaCorrecta img{
    position:absolute;
    width:100%;
    top:30%;
    transform:rotateZ(-40deg);
}